@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&family=Open+Sans:wght@300;500;700&display=swap");

body,
html {
  font-family: Open Sans, sans-serif !important;
}

.logo {
  width: 200px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
}

span {
  display: block;
  font-size: 20px;
}

@media (min-width: 900px) {
  span {
    font-size: 24px;
  }
}

.appContainer {
  max-width: 500px !important;
}

.subButton {
  align-items: center;
  border: 2px solid black;
  display: flex;
  cursor: pointer;
  font-weight: bold;
  font-size: 24px;
  background-color: black;
  color: white;
  justify-content: center;
  border-radius: 25px;
  width: 160px;
  padding: 5px 5px;
}

.modalHeader {
  background-color: black;
  color: white;
  height: 50px;
}
