.highlightBg:hover {
  transition: 0.5s ease, padding 0.8s linear;
  background-color: rgba(128, 128, 128, 0.61) !important;
}

.highlightBg {
  width: 100%;
  border-radius: 5px;
  background-color: "#e5e5e5";
  border: 1px solid #e5e5e5;
}

.submitIcon {
  width: 90px;
  height: 90px;
  text-align: "center";
  justify-content: "center";
  align-items: "center";
  border: 1px solid gray;
  border-radius: 5px;
}

.submitName {
  margin-top: 12px;
  font-size: 40px;
}
